.terraform/modules/modules.json
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.editorconfig
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.gitignore
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.kitchen.yml
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.pre-commit-config.yaml
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.ruby-version
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/CHANGELOG.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/Gemfile
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/LICENSE
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/Makefile
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/variables.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/vpc-endpoints.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.chglog/CHANGELOG.tpl.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.chglog/config.yml
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.circleci/config.yml
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/complete-vpc/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/complete-vpc/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/complete-vpc/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/ipv6/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/ipv6/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/ipv6/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-108-route-already-exists/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-108-route-already-exists/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-108-route-already-exists/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-224-vpcendpoint-apigw/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-44-asymmetric-private-subnets/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-44-asymmetric-private-subnets/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-44-asymmetric-private-subnets/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-46-no-private-subnets/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-46-no-private-subnets/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-46-no-private-subnets/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/manage-default-vpc/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/manage-default-vpc/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/manage-default-vpc/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/network-acls/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/network-acls/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/network-acls/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/secondary-cidr-blocks/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/secondary-cidr-blocks/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/secondary-cidr-blocks/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/simple-vpc/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/simple-vpc/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/simple-vpc/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/variables.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/vpc-separate-private-route-tables/main.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/vpc-separate-private-route-tables/outputs.tf
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/vpc-separate-private-route-tables/README.md
.terraform/modules/vpc/terraform-aws-modules-terraform-aws-vpc-5358041/test/integration/default/test_vpc.rb
.terraform/plugins/linux_amd64/lock.json
.terraform/plugins/linux_amd64/terraform-provider-aws_v2.33.0_x4
.terraform/plugins/linux_amd64/terraform-provider-template_v2.1.2_x4
example/.terraform/modules/modules.json
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.editorconfig
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.gitignore
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.kitchen.yml
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.pre-commit-config.yaml
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.ruby-version
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/CHANGELOG.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/Gemfile
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/LICENSE
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/Makefile
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/variables.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/vpc-endpoints.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.chglog/CHANGELOG.tpl.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.chglog/config.yml
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/.circleci/config.yml
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/complete-vpc/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/complete-vpc/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/complete-vpc/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/ipv6/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/ipv6/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/ipv6/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-108-route-already-exists/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-108-route-already-exists/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-108-route-already-exists/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-224-vpcendpoint-apigw/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-44-asymmetric-private-subnets/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-44-asymmetric-private-subnets/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-44-asymmetric-private-subnets/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-46-no-private-subnets/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-46-no-private-subnets/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/issue-46-no-private-subnets/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/manage-default-vpc/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/manage-default-vpc/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/manage-default-vpc/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/network-acls/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/network-acls/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/network-acls/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/secondary-cidr-blocks/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/secondary-cidr-blocks/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/secondary-cidr-blocks/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/simple-vpc/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/simple-vpc/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/simple-vpc/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/test_fixture/variables.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/vpc-separate-private-route-tables/main.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/vpc-separate-private-route-tables/outputs.tf
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/examples/vpc-separate-private-route-tables/README.md
example/.terraform/modules/simple.vpc/terraform-aws-modules-terraform-aws-vpc-5358041/test/integration/default/test_vpc.rb
example/.terraform/plugins/linux_amd64/lock.json
example/.terraform/plugins/linux_amd64/terraform-provider-aws_v2.33.0_x4
terraform.tfstate
terraform.tfstate.backup
aws.tf
